
nav{
	border-bottom:4px solid #4f7942 ;
	background: #b7d5ad ;
	padding: 10px;
	text-align: center;
}
li{
	text-align: center;
	display: inline;
	padding: 10px;
	border: 2px solid #93bf85;
	background-color:#93bf85 ;
	font-family:sans-serif;
	font-size: 14pt;
	border-radius: 8px;
}
li:hover{
	border-radius: 13px;
	transition: 200ms linear;
}
.hov a:hover{
 color: #3b5534;

}
h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 45pt;
	font-family: sans-serif;
	text-align: center;
	color: #6eaa5e;
}
caption{
	font-family:sans-serif;
	font-size: 35pt;
	text-align: center;
	color: #3b5534;
}
table{
	margin: auto;
	border: 0px solid #4f7942;
	width:200px;
	height:150px;
	border-spacing: 20px 30px;
}
td{
	border: 2px solid #6eaa5e;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	font-family: sans-serif;
	font-size: 11pt;
	background-color: white;
}
td:hover{
	transform: scale(111%);
	transition: 170ms linear;
}
tr{
	border: 1px solid black;
}
img{
	width: 200px;
	height: 130px;
}
img:hover{
	opacity: 80%;
	transition: opacity 240ms linear, transform 240ms linear;


}
.sl{
	font-family: sans-serif;
	font-size:15pt;
	font-weight:bold;

}
.alt{
	width: 200px;
	height: 400px;
}
.hev:hover:after{
	opacity: 20%;
}
button{
	margin-left: 40px;
	padding:10px;
	color: black;
	background-color: #6eaa5e;
	border-color: #6eaa5e;
	border-radius: 10%;
	font-family: sans-serif;
	font-weight: bold;
}
button:hover{
	background-color: #4f7942;
	border-color: #4f7942;
	transform: scale(109%);
	transition: 140ms linear;
}
footer{
	border-top:4px solid #4f7942 ;
	margin-top: 200px;
	background-color:#b7d5ad ;
	height: 120px;

}
.ft{
	font-size: 12pt;
	font-family: sans-serif;
	opacity: 80%;

}
p{
	font-family: sans-serif;
	font-size: 11pt;
}
.kt{
	font-family: sans-serif;
	font-size: 15pt;
}
div{
	margin:auto;
	align-content: center;
	width:700px ;
	height:685px;
	text-align: center;
}
h2{
	font-weight: normal;
	margin-bottom:3px;
	margin-top: 0px;
	font-family:sans-serif;
	font-size: 35pt;
	text-align: center;
	color: #3b5534;
}
.ptt{
	font-family: sans-serif;
	font-size: 16pt;
}
.req{
	width:200px;
}
.as{
	margin-top: 100px;
	margin-bottom: 50px;
	font-family: sans-serif;
	font-size: 15pt;
	text-align: center;
}
.as:hover{
	transform: scale(120%);
  	transition: 130ms linear;
}
form{
	border: 1px solid black;
	width: 700px;
	height: 685px;
	border: 2px solid #6eaa5e;
	border-radius: 5px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}
.az{
	font-family: sans-serif;
	font-size:9pt;
	color: gray;
	text-decoration:line-through;
}
.th{
	font-family: sans-serif;
	color: red;
}
.sb{
	margin-left: 40px;
	padding:10px;
	color: black;
	background-color: #6eaa5e;
	border-color: #6eaa5e;
	border-radius: 10%;
}
.sb:hover{
	background-color: #4f7942;
	border-color: #4f7942;
	transform: scale(109%);
	transition: 140ms linear;
}
.sc{
	font-family: sans-serif;
	font-size: 14pt;
	color: #3b5534;
}
.inp{
	width: 220px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.asd {
	width: 20px;
	height: 20px;
}
.gf{
	width: 60px;
	height: 50px;
}
.imag{
	width: 700px;
	height: 450px;
}
.dv{
	width:700px;
	height: 450px;
}
.tables{
	border-spacing: 0px 0px;
	margin-left:20px
}